/* Style the top navigation bar */
body{
  background-image: url("./backgg.jpg");
background-repeat: repeat-y;


}

.nav {
  background-color:black ;
  overflow: hidden;
  width: 100%;
}

.layoutrow{
 display:grid;
 grid-template-columns: 120px 1fr 120px;
 margin-top:15px;
}
/* Clear floats after the columns */
.layoutrow:after {
  content: "";
  display: table;
  clear: both;
}
.modal-dialog{
  box-shadow: 1px 1px 10px 1px white;
}